
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<p> this is from Contact </p>

<p>
    your Viewbag =@ViewBag.var1
</p>
<p> your viewdata= @ViewData["var2"]</p>
<p> your tempdata =@TempData["var3"]</p>
<p> your sessiondata = @Session["var4"]</p>

<ul>
    @{
        foreach (var item in (String[])Session["abc"])
        {
            <li> @item </li>
        }
    }
</ul>

