
<form style="border : 5px black ridge; width: 350px; Height : 250px" >
    <h3 class="text-center">Login</h3>
    <label>Username</label>
    <input  class="form-control" type="text" name="user" />
    <br />
    <label>Password</label>
    <input class=" form-control" type="text" name="pass" />
    <br />
    <input class="form-control" type="submit" name="Submit" />
</form>
